.l-contents {
  max-width: 1000px;
  margin: 18px auto;
  &_main {
    &_title {
      margin: 60px 0 15px 0;
      @include tab {
        margin: 60px 0 15px 10px;
      }
      background-repeat: no-repeat; /* 画像の繰り返しを指定  */
      width: 160px; /* 横幅のサイズを指定    */
      img {
        max-width: 100%;
      }
    }
    &_picture {
      max-width: 1000px;
      max-height: 400px;
      @include tab {
        margin: 0 auto;
      }
      img {
        max-width: 100%;
      }
    }
    &_INDEX {
      max-width: 600px;
      margin: 60px auto;
      background-color: #ffffff;
      &_bg {
        max-width: 1000px;
        background: white;
      }
      h2 {
        padding: 30px 0 20px 0;
        @include tab {
          margin: 0 40px;
        }
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        width: 13.4px;
      }
      ul {
        font-family: Arial;
        font-size: 14px;
        font-weight: Regular;
        @include tab {
          padding: 0 40px;
        }
      }
      li {
        padding: 0px 0 30px 0;
      }
    }
    &_DETAIL {
      display: flex;
      max-width: 600px;
      align-items: flex-start;
      margin: 0 auto;
      @include tab {
        flex-direction: column;
        padding: 0 40px;
      }

      &_h2 {
        max-width: 600px;
        margin: 10px auto;
        font-family: Arial;
        font-size: 18px;
        font-weight: Bold;
        @include tab {
          padding: 0 40px;
        }
      }
      &_picture img {
        width: 100%;
        margin-right: 60px;
        @include tab {
          margin: 0 auto;
        }
      }
      &_article {
        margin-left: 60px;
        @include tab {
          margin: 0px;
        }
      }
      &_title {
        width: 100%;
        font-family: Arial;
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 20px;
        border-bottom: solid 1px #dedede;
      }
      &_DATE {
        padding: 16px 0;
        border-bottom: solid 1px #dedede;
        font-family: Arial;
        font-size: 14px;
        font-weight: Regular;

        p {
          line-height: 15px;
          color: #333333;
        }
        dl {
          display: flex;
          flex-wrap: wrap;
        }
        dt {
          width: 25%;
        }
        dd {
          width: 75%;
        }
      }
      &_sentence {
        width: 270px;
        @include tab {
          width: 100%;
        }
        color: #333333;
        margin: 23px 0 20px 0;
        font-size: 14px;
      }
      &_Link {
        width: 153px;
        border-bottom: solid 1px #333333;
        p {
          color: #333333;
          font-size: 14px;
          font-family: arial;
          font-weight: regular;
        }
      }
    }
  }
}
